.container {
    padding: 30px;
    margin: 0 0 80px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.auth-image {
    float: left;
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}