.logo {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff !important;
    background: #4aaaa5;
    padding: 15px;
}

.logo:visited {
    background-color: #4aaaa5 !important;
}

.logo:hover {
    background-color: #4aaaa567 !important;
}